html{
	height: 100% !important;
	font-size: 2vw;
}

body {
	font-family: "Montserrat", Verdana, Arial, sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	color: #fff;
	margin: -1.6rem 0 0 0;
}

.hidden {
	display: none;
}

.b-navbar {
	height: 10rem;
	background-color: #373c3f;
}

.b-navbar p {
	display: inline-block;
	margin: 5rem 3rem;
	font-size: 1.6rem;
}

.b-navbar img {
	display: inline-block;
	float: right;
	margin: 1.65rem 0 0 0;
	width: 9.35rem;
}

.b-navbar-collapse {
	display: none;
}

@media (min-width: 980px) {

.b-navbar {
	height: 200px;
}

.b-navbar p, .b-navbar img {
	display: none;
}

.b-navbar-collapse {
	display: block;
	margin-left: 2rem;
}

.b-navbar-collapse li {
	display: inline-block;
	margin-top: 70px;
	margin-right: 1rem;
}

.b-navbar_links {
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
}

}
.b-about {
	height: 18rem;
	background-color: #0991a9;
}

.b-about-box {
	width: 39rem;
	display: inline-block;
	margin: 5rem 0 0 3rem;
}

.b-about-text {
	font-size: 3.35rem;
}

.b-about-link {
	font-size: 1.5rem;
	color: #6bc8d6;
	display: inline-block;
}

.b-about-more {
	display: inline-block;
	float: right;
}

.b-info {
	height: 8rem;
	background-color: #27212c;
}

.b-info-text {
	font-size: 1.9rem;
	color: #7b6d87;
	display: inline-block;
	margin: 3rem 3rem;
}

.b-info-box {
	float: right;
	display: inline-block;
	width: 8rem;
	height: 8rem;
	background-color: #bc3183;
}

.b-info-box-more {
	display: inline-block;
	margin: 3.3rem 3.5rem;
}

.b-images {

}

.b-images img {
	display: block;
	width: 50rem;
	height: 45rem;
}

@media (min-width: 980px) {

.b-images img {
	display: inline-block;
	margin: 0 -0.5rem -0.4rem 0;
	width: 16.6rem;
	height: 15rem;
}

}

.b-texts {
	color: black;
	background-color: #ebebeb;
	padding: 3rem;
}

.b-texts-header {
	color: #088ca5;
	font-size: 3.5rem;
}

.b-texts-column {
	font-size: 2.5rem;
	display: inline-block;
}

@media (min-width: 980px) {

.b-texts-header {
	font-size: 2.5rem;
}

.b-texts-column {
	font-size: 1rem;
	width: 21.4rem;
}

}